<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FinanceiroDb"
         connectionString="User=SYSDBA;Password=masterkey;Database=C:\CartSys\DB\ERP_FINANCEIRO.FDB;DataSource=localhost;Port=3050;Charset=UTF8"
         providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>

  <appSettings>
    <!-- Chave que deve ser enviada no header X-API-Key -->
    <add key="ApiKey" value="cartsys-dev-key" />

    <!-- ERP Vendas (Delphi) - URL do servidor REST embarcado -->
    <add key="VendasApiUrl" value="http://localhost:5002" />
    <add key="VendasApiKey" value="cartsys-dev-key" />
    <add key="VendasApiTimeoutSeg" value="30" />

    <!-- Porta de auto-host OWIN -->
    <add key="ApiHostUrl" value="http://localhost:5001" />
  </appSettings>

  <entityFramework>
    <providers>
      <provider invariantName="FirebirdSql.Data.FirebirdClient"
                type="FirebirdSql.Data.EntityFramework6.FbProviderServices,FirebirdSql.Data.EntityFramework6" />
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider"
           invariant="FirebirdSql.Data.FirebirdClient"
           description=".NET Framework Data Provider for Firebird"
           type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
</configuration>
